In [1]:
import pandas as pd
import ijson
import numpy as np
import jsonlines
import csv
import json

In [41]:
from transformers import AutoTokenizer,AutoModelForSeq2SeqLM
summary_tokenizer = AutoTokenizer.from_pretrained("mabrouk/amazon-review-summarizer-bart") #mabrouk/amazon-review-summarizer-bart
summary_model = AutoModelForSeq2SeqLM.from_pretrained("mabrouk/amazon-review-summarizer-bart")
summary_prefix = "summarize: "
def summarize_profile(profile):
    tokens_input = summary_tokenizer.encode(summary_prefix+profile, return_tensors='pt', max_length=512, truncation=True)
    ids = summary_model.generate(tokens_input, max_length=45, min_length=40)
    summary = summary_tokenizer.decode(ids[0], skip_special_tokens=True)
    return summary

In [4]:
from transformers import pipeline
# Load the text classification pipeline
classifier = pipeline('text-classification', model = 'keeyan/nli-roberta-base-finetuned-for-amazon-review-ratings')
def rate_product_review(AIP):
    rating = classifier(AIP)[0]['label']
    if rating == 'terrible':
        return 1
    elif rating == 'poor':
        return 2
    elif rating == 'ok':
        return 3
    elif rating == 'good':
        return 4
    elif rating == 'great':
        return 5
#AIP = "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Holy cow.  This case will definitely fill the bill if you're looking for a hard plastic bumper to protect the sides and backs against falls.  However, the rubber skin is really cheap and I can tell will tear easily over time.  Also, this case adds substantial size to your phone.  Feels like I'm carrying a laptop."
#rate_product_review(AIP)

In [3]:
import json
import csv
import ijson
def convert_json_to_csv(json_file_path, csv_file_path, chunk_size=1024):
    with open(csv_file_path, 'w', newline='', encoding='utf-8') as csvfile:
        fieldnames = ["id", "input", "profile_id", "profile_text","PPEP"]
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
        writer.writeheader()

        with open(json_file_path, 'r', encoding='utf-8') as jsonfile:
            for entry in ijson.items(jsonfile, 'item'):
                for profile_entry in entry.get("profile", []):
                    writer.writerow({
                        "id": entry.get("id", ""),
                        "input": entry.get("input", ""),
                        "profile_id": profile_entry.get("id", ""),
                        "profile_text": profile_entry.get("text", ""),
                        "PPEP": f"{profile_entry.get('score', '')} is the score for {profile_entry.get('text', '')}"
                    })

# Example usage
json_file_path = 'validation_inputs.json'
csv_file_path = 'validation_inputs.csv'
convert_json_to_csv(json_file_path, csv_file_path)

In [11]:
import ijson
import csv
import pandas as pd

def get_user_aggregated_profiles(input_file, output_file):
    df = pd.read_csv(input_file)

    # Concatenate profile_text for rows with the same user_id
    result_df = df.groupby('id')['PPEP'].agg(lambda x: ' '.join(x)).reset_index()

    result_df.to_csv(output_file, index = False)

    # Display the result
    display(result_df)
    

get_user_aggregated_profiles("validation_inputs.csv", "aggregated_profiles.csv")

          id                                               PPEP
0        210  4 is the score for I've only had this a couple...
1        211  5 is the score for These fit right into my sto...
2        212  5 is the score for Best beef bone broth I have...
3        213  5 is the score for A quality product and verif...
4        214  5 is the score for Works perfectly and I didn'...
...      ...                                                ...
2495  212495  5 is the score for Rcvd replacement phone afte...
2496  212496  5 is the score for Living in Houston in Summer...
2497  212497  4 is the score for These books are a great set...
2498  212498  5 is the score for An idea I first thought was...
2499  212499  5 is the score for These worked just as well a...

[2500 rows x 2 columns]

In [5]:
import pandas as pd
import numpy as np
import torch
from sentence_transformers import SentenceTransformer

df = pd.read_csv('aggregated_profiles.csv')
sampled_df = df.sample(n=350, random_state=42)
sampled_df = sampled_df.reset_index(drop=True)
display(sampled_df)

def get_similar_user_profiles_RL(user, model_name='all-MiniLM-L6-v2', batch_size=32, k=5, from_sample = False):
    # Load sentence transformer model outside the function for better performance
    sentence_transformer_model = SentenceTransformer(model_name).cuda()

    # Load profiles from CSV
    if from_sample:
        df = sampled_df
    else:
        df = pd.read_csv('aggregated_profiles.csv')

    display(df)

    # Extract user profile
    user_profile = df.loc[df['id'] == user, 'PPEP'].values
    if not user_profile:
        return []  # User not found

    #print('user_profile is \n', user_profile[0])
    user_profile_embedding = torch.Tensor(sentence_transformer_model.encode(user_profile[0])).cuda()

    rl = []

    # Batched similarity calculation for better performance
    for i in range(0, len(df), batch_size):
        batch_profiles = df.loc[i:i+batch_size-1, 'PPEP'].values
        batch_user_ids = df.loc[i:i+batch_size-1, 'id'].values

        # Skip the user in the batch if it's the same as the input user
        mask = batch_user_ids != user
        batch_profiles = batch_profiles[mask]
        batch_user_ids = batch_user_ids[mask]

        # Encode batch profiles on GPU
        batch_profile_embeddings = torch.Tensor(sentence_transformer_model.encode(batch_profiles.tolist())).cuda()


        # Calculate batch similarity scores using dot product on GPU
        batch_similarity_scores = torch.matmul(user_profile_embedding, batch_profile_embeddings.T)

        # Update result list
        rl.extend(zip(batch_user_ids, batch_similarity_scores.cpu().numpy()))

    # Sort the list by similarity score
    rl.sort(key=lambda item: item[1], reverse=True)
    return rl[:k]

# Example usage
#user_id = 210
#similar_users = get_similar_user_profiles_RL(user_id)
#print(similar_users)

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

In [23]:
def process_row(row):
    return get_similar_user_profiles_RL(row['id'], k=5, from_sample = True)
def get_top_k_similar_users(output_file):
    sim_users = {}
    df = sampled_df
    df['sim_users'] = df.apply(process_row, axis=1)
    display(df)
    df.to_csv(output_file, index = False)
get_top_k_similar_users('similar_users.csv')

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

         id                                               PPEP
0    211447  5 is the score for This works excellent with t...
1    211114  5 is the score for Over 30+ years ago, I playe...
2    211064  5 is the score for Love this! You can use this...
3    212287  5 is the score for I'll edit this review as ti...
4    211537  5 is the score for I am enjoying having so man...
..      ...                                                ...
345  211385  4 is the score for This is the classic distort...
346   21408  1 is the score for Microsoft discontinued the ...
347  211091  5 is the score for I recently bought a Chelsea...
348  212282  5 is the score for still getting used to it. w...
349  211216  5 is the score for more professional way to re...

[350 rows x 2 columns]

,id,PPEP,sim_users
0,211447,5 is the score for This works excellent with t...,"[(21231, 0.71728855), (21387, 0.70657676), (21..."
1,211114,"5 is the score for Over 30+ years ago, I playe...","[(21508, 0.53844863), (2193, 0.5134594), (2147..."
2,211064,5 is the score for Love this! You can use this...,"[(211511, 0.6802315), (21211, 0.6309017), (212..."
3,212287,5 is the score for I'll edit this review as ti...,"[(211124, 0.59207934), (21772, 0.5879262), (21..."
4,211537,5 is the score for I am enjoying having so man...,"[(21857, 0.7073191), (21237, 0.6810317), (2115..."
...,...,...,...
345,211385,4 is the score for This is the classic distort...,"[(212173, 0.47476465), (21942, 0.46741104), (2..."
346,21408,1 is the score for Microsoft discontinued the ...,"[(211944, 0.6295747), (211131, 0.6292778), (21..."
347,211091,5 is the score for I recently bought a Chelsea...,"[(21218, 0.59719545), (211018, 0.56879777), (2..."
348,212282,5 is the score for still getting used to it. w...,"[(211944, 0.5855507), (211131, 0.5711541), (21..."
349,211216,5 is the score for more professional way to re...,"[(212096, 0.59388256), (211124, 0.581678), (21..."

In [9]:
#function to append query_user_profile with k similar users
import json
import pandas as pd
import ast

def get_appended_user_profiles(query_user_id, no_similar_users = False):
    # Assuming 'get_top_k_similar_users' is a function that returns a list of user tuples (user_id, similarity_score)
    #sim_users = get_similar_user_profiles_RL(user_count, str(query_user_id))

    # Use pandas directly to read and filter the DataFrame
    df = pd.read_csv('validation_inputs.csv')
    sdf = pd.read_csv('similar_users.csv')

    #display(sdf)
    
    query_user_profile = df[df['id'] == int(query_user_id)]
    
    # Extract PPEP column values directly
    query_PPEP = query_user_profile['PPEP'].tolist()

    if no_similar_users:
        print('no similar users')
        return query_PPEP

    sim_user_profiles = []
    is_present = sdf['id'].isin([query_user_id]).any()
    if is_present:
        print("user id present in csv used for training")
        sim_users = sdf.loc[sdf['id'] == query_user_id, 'sim_users'].iloc[0]
        sim_users = ast.literal_eval(sim_users)
        #print("Sim_users from csv: ", sim_users)
        sim_users_profiles = [df[df['id'] == int(sim_user_id)]['PPEP'].tolist() for sim_user_id, _ in sim_users]
    else:
        sim_users = get_similar_user_profiles_RL(query_user_id, k=5, from_sample = False)
        print("Sim_users from aggregated profiles: ", sim_users)
        sim_users_profiles = [df[df['id'] == int(sim_user_id)]['PPEP'].tolist() for sim_user_id, _ in sim_users]

    # Using list comprehension to extract PPEP for similar users
    sim_users_profiles = [df[df['id'] == int(sim_user_id)]['PPEP'].tolist() for sim_user_id, _ in sim_users]

    # Flatten the list of lists
    all_profiles = [query_PPEP] + sim_users_profiles
    all_profiles = [item for sublist in all_profiles for item in sublist]

    #print("ALL PPEP:", all_profiles)
    return all_profiles

#function to train flan t5

In [42]:
import torch
import pandas as pd
from transformers import AutoTokenizer, AutoModel
retriever_tokenizer = AutoTokenizer.from_pretrained('facebook/contriever')
retriever_model = AutoModel.from_pretrained('facebook/contriever')
retriever_device = torch.device('cuda' if torch.cuda.is_available() else 'cpu')
retriever_model = retriever_model.to(retriever_device)

def mean_pooling(token_embeddings, mask):
    token_embeddings = token_embeddings.masked_fill(~mask[..., None].bool(), 0.)
    sentence_embeddings = token_embeddings.sum(dim=1) / mask.sum(dim=1)[..., None]
    return sentence_embeddings

def AIP(input, query_user_id, no_summary = False, no_sim_users = False):
    retrieved_profiles = retrieve_profiles(input, query_user_id, no_sim_users)
    print(retrieved_profiles)
    aip = ''
    if no_summary:
        print("No Summary")
        for retrieved_profile in retrieved_profiles:
            words = retrieved_profile[0].split()
            if(len(words)>45):
                aip = aip + ' '.join(words[:45]) + ', and '
            else:
                aip = aip + ' '.join(words[:len(words)]) + ', and '
    else:
        for retrieved_profile in retrieved_profiles:
            aip = aip + retrieved_profile[0][:19] + summarize_profile(retrieved_profile[0][19:]) + ', and '
    aip = aip[:-6] + '. ' + input
    print('Final prompt:', aip)
    return aip

def retrieve_profiles(input, query_user_id, no_sim_users, batch_size=32, k=4):
    embeddings_list = []
    split_result = input.split(':', 1)
    query = split_result[1]
    profiles = get_appended_user_profiles(query_user_id, no_sim_users)

    for i in range(0, len(profiles), batch_size):
        batch_profiles = profiles[i:i+batch_size-1]
        batch_profiles.insert(0, query)
        
        batch_profiles_tokens = retriever_tokenizer(batch_profiles, padding=True, truncation=True, return_tensors='pt')
        batch_profiles_tokens = {key: value.to(retriever_device) for key, value in batch_profiles_tokens.items()}

        with torch.no_grad():
            outputs = retriever_model(**batch_profiles_tokens)

        embeddings = mean_pooling(outputs.last_hidden_state, batch_profiles_tokens['attention_mask'])

        query_embedding = embeddings[0]

        # Calculate batch similarity scores using dot product on GPU
        batch_similarity_scores = torch.matmul(query_embedding, embeddings[1:].T)

        embeddings_list.extend(zip(batch_profiles[1:], batch_similarity_scores.cpu().numpy()))

        torch.cuda.empty_cache()
    
    embeddings_list.sort(key=lambda item: item[1], reverse=True)
    return embeddings_list[:k]

#AIP("What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: 10 year old daughter liked this book.  Had allot of info, and was well written for younger kids to understand.", 211447, True, True)

ERROR! Session/line number was not unique in database. History logging moved to new session 58

In [34]:
#RMSE AND MAE
#model_preds
#Creating eval dataset
validation_df_input = pd.read_json('validation_inputs.json')
validation_df_output = pd.read_csv('validation_outputs.csv')
small_eval_dataset = sampled_df.sample(n=30, random_state=42)
small_eval_dataset = small_eval_dataset.reset_index(drop=True)
inputs = []
for index, row in small_eval_dataset.iterrows():
    inputs.append([pd.to_numeric(row['id']), (validation_df_input[validation_df_input['id'] == row['id']]['input'].iloc[0]), validation_df_output[validation_df_output['id'] == row['id']]['output'].iloc[0]])
print(inputs)

[[211598, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It was not what I expected but it was a great read! I really really like it.\nI liked the characters. And the story was well paced.', 5], [21679, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.", 1], [21199, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a good history of the 29th Infantry Division in the Normandy campaign.  It covers the training of the division in the United States and England, the Normandy landings and operations beyond the capture of St. Lo.  During D-Day and the fighting in the bocage, the division suffered very heavy casualties in its infantry battalions.\n\nThe book mostly focuses on the battles between the 29th and the German 352nd Infantry.  The discussion on the disposition of the 352nd was interesting and something I had not seen before.\n\nThe maps are pretty good and there are a reasonable number', 4], [21632, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a solid book and good reference for a beginner learning about essential oils. I find it to be clear and well organized.', 4], [211968, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I sooooo loved this story, I won't give a synopsis, but I will say this was a great premise, the story line was believable although irritating but that's what made it believable! She made the right choice in the end though I wanted to strangle her throughout the book lol! Especially towards the end smh! But this was a great emotional roller coaster ride that kept me on the edge of my seat, I can't wait for part 2! Great Job Anna! Keep them coming girl because I will continue to read.", 5], [21367, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I like Dawn French on TV, she really funny, but I'm afraid I don't care for her writing.\nThis is a story about Silvia, who is in a coma, and the small circle of people in her life who take turns visiting her and hoping she'll wake up.\nThe punctuation is not good, and unfortunately, the story is not that good, either - I stopped half way through.", 2], [21208, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I love this book.  At first I felt a bit overwhelmed when I cracked it open and saw all that was going on in there, but I've come to really enjoy it.\n\nIt's not a complete reference for any of these topics, but does have a nice selection for each.  The patterns and recipes are fun and well explained.  I would recommend this book for someone who already does  most of these or for someone wanting to try out several different crafts before choosing a new hobby as the basics are also explained.", 5], [211459, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Here I am at 5:30 am because I just couldn't put the book down till I'd finished it.  It wasn't a surprise to learn that the author is in the medical field with the vast knowledge of such that he displayed.  Now I've got to find out if he has more books to his credit.\n\nWarning:  Language", 5], [211538, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a great book for us Harry Potter fans and has a wealth of info on collectibles for us too. I recommend it highly.', 5], [211450, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: The book started out great, it was funny, interesting and appeared to be going in the right direction. It remained well written and full of steam until a little over halfway through. But by the end the book kind of fell on it's face. It wasn't that interesting, the characters lost thier zeal and the story just seemed rushed by the end. Like it had an alternate ending before it was editied out and the author has limited time to come up with another one. Or maybe he just ran out of ideas for the ending, who knows. It was a good read, it was funny and best of all it was different. However, the sizzle and flavor at the beginiing of the story, at least to me, was gone by the end. Would I read it again? Sure I would and I recommend it, you might feel differently about it.", 3], [211123, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I enjoyed the story although I must have been expecting more, from the reviews, because it just left me feeling like there was more coming or something.', 3], [212165, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Nothing new to review here.  This is just a reissue of the first 4 Poirot mysteries released on A&E after the London Weekend Television/PBS Series (which is available in its entirety on Acorn) and A&E release (their second set of 2) of Joan Hickson\'s Miss Marple (which you still need the Warner/BBC Video set to complete THAT series).  If you have none of these, for the same money (maybe less) you should buy the separarte set of these 4 Poirots and the Miss Marple Megaset which combines their (A&E) "sets 1 and 2" into 1 box.  The shows however are first rate and a half, so if you want your money\'s worth, there are better ways to buy the contents of this megaset and save megabucks.:-).', 5], [212054, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This product arrived in a timely manner and was in good condition.  This stainless steel bowl will work well in my bushcraft mess kit.  I would recommend this product to others.', 5], [21819, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: My DVD player died two days after I got this so I have to wait until I replace it to check out all the discs. Cheaply packaged, though. We'll see...", 3], [211281, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I fell in love with the Hollows series while reading through the shelves of my local library. Now that I have a Kindle I can afford to buy books for myself, so I'm trying to collect the series.", 5], [211258, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Outstanding kit!  It comes with a case that holds the triangles.  The triangles fold into place and stay strong in place. They are even wind resistant.  We got these for our RV to have in a emergency but they don't take up much room at all so they would work great for any vehicle.", 5], [211915, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: We like these nuts for a snack.  We also add them to rocky road ice cream.  It makes it taste really good with the addition of more nuts.', 5], [212256, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Frankly, I'd been buried in a lot of weird, non-rock music for several years, and recently, I found myself interested in re-discovering a genre I had really largely abandoned since high school-- hard rock/metal. Of course, there aren't any good bands on the radio lately, so I just read some reviews and dove in-- I picked up this disc, Tool's last two records (AEnima and Laterlus) Perfect Circle, and the new Candira disc. I was happy with my purchases (especially AEnima) But this disc really stands out... it's loud, inventive fun and tuneful with lots of headbanging solos, bone-crushing bass and off-the wall but clever lyrics. What else do you want?", 4], [211036, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Who to trust some of your most loyal supporters or so you thought. This series was nothing like I expected but I liked it. Their was a lot of blood loose,heart ache and suspense but that's what I understand the mafia to be about.  This series was my first by this author but not my last. I'm just glad everyone found their way back where they belong.", 4], [211837, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This item is what it was represented to be, and I am most appreciative of the fact that I received what I paid for.', 5], [21508, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Horrible!  The tweezers don't close flat unless you bend them. The grip teeth don't grip thread because they're stamped into the metal just barely -- more like scratches than teeth!  Don't buy. Total con job.", 1], [211608, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I got this book without reading a sample- something I usually do before buying a book.  I so liked McLain's novel about Beryl Markum that I just ordered her autobiography.  It is about her childhood, being bounced from foster home to foster home with her 2sisters, after her mother just took off and while her father was in and out of jail.  Unfortunately, the writing is not stellar, and she jumps around when talking about the different foster homes,so it gets confusing.  She failed to make me care about her and her sisters.  I won't finish it", 3], [21478, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: These Rice Puffs are great to have with plain yoghurt, or milk, sweeten with a little rice syrup, or honey and you have a healthy breakfast with no additives. Add some berries and a truly healthful breakfast is in your bowl. I will be buying these regularly.', 5], [212445, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is the first series that I have read out of sequence, I don't usually do that. I am excited to read more of this series and the Alpha Pi series too.", 4], [212045, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: The first time I flew this helicopter, I noted that there was a severe vibration as soon as it took off.  This turned out to be the feathering shaft screws - They were apparently left loose from the factory - The rotor head exploded and the bearings/washers were all lost in the grass.  There are much better micro helis out there for the price.  Not worth buying.', 1], [21891, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I have purchased all of Alton Brown's books. I like this series because it puts in writing all that is talked about during the episodes. The DVD's are expensive and when you watch them you have to take notes. When buying the series you have all the notes and more written down for you! Plus the episodes don't have the updated and extra information that the books have.\n\nAlton Brown taught me so much and these books share a place in my library right next to Julia Childs.", 5], [212295, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I have not read the Lunar Chronicles, but reading this book, I didn't feel I had to know exactly what happened in that series. Things were explained nicely for new readers so I wasn't lost about what had happened and could easily figure out the few little details that were missing. The artwork is granted a little animeish, it's not going to be your Disney quality, nor is it full of color images, it's blue and black colors mainly. Still, a wonderful read, and the art work was cute.", 4], [212480, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Tamara Leigh writes captivating stories that draw you in from page 1!  One of the things I love most about Leigh's books are the amount of dialogue and interaction of the main characters, but characters in general.  This book was fantastic and I didn't want it to end.  I am greatly looking forward to the next in the series!", 5], [21866, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It's been a while since I read the first book in the series where I was first introduced to Jack and Apple. They've never been anything but friends, but they sure know how to push each others buttons. I was really surprised that no one in town realized that all of their bickering was actually them fighting their feelings and all that chemistry between them. Things start to change between them when her quest for Jake to give her his family's history turns into a game of strip questions. Apple is a forever kind of girl who dreams of the perfect husband and lots of babies, while Jake is known for jumping from one girl to the next. Apple is the only woman who has ever made him want more, but his family secrets may cost him the woman he loves. There was fun and laughter, hot and sexy moments, and lots of feels in this one. I enjoyed coming back to Fortune, Colorado and the Bachelors of Fortune.\n\nI voluntarily reviewed an advanced reader copy of this book. I was not compensated for this review, all conclusions are my own.", 4], [211333, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm confused by some of the reviews, but for me they fit so comfortably.  After I have them on awhile, I forget them.  I will say the buckle design is not made for cranking down extremely tight, like some people like.  Also the buckle is not secure just because it goes down.  You hear a noticeable snap when the buckle locks.  I sent back similar Joe Rocket boots because the right boot size did not match the left, and neither were comfortable. I wear size 11.5 and the 12 fit glove like, so keep that in mind when you order.  I normally rate the quality to those costing more, but these are five star no matter the cost.  They are more shoe than boot, but my thick calves don't allow me to wear anything taller.", 5], [212329, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: Unfortunately for "American Gangster", it tells a story within a genre that has provided some of the richest contributions to pop culture over the last half century.  When holding Ridley Scott\'s foray into the world of the mob against most average films, "American Gangster" looks like a classic, but when compared to The Godfather, the crime films of Scorsese or even The Sopranos, this feature seems stuck in a pair of cement galoshes\n\n"Gangster" details the meteoric rise and fall of Frank Lucas (Washington), a 1970s narcotics drug lord from Harlem.  In what could be a lesson in an introductory business class, the film shows how Lucas was able to create a monopoly in the drug world by providing a better product at a lower price.  A true capitalist innovator, Lucas achieved his bargain basement prices by eliminated the dozen or so buffers between the opium fields and the street.  He flew to Southeast Asia himself, bought his product and had his family sell it on the street.  With no skimmers taking a piece at each port, truck depot, or airfield, Lucas built a company that crushed his competition.\n\nBecause of the skills of Denzel Washington, Lucas is both monstrous and human.  His work ethic, creativity and dedication paint the picture of a man who could have been the CEO of a major company had life dealt him different cards.  Instead, he built an empire described as more powerful that the mafia.  His counterpart (and equal in many ways) is Richie Roberts (Crowe) the unrelenting by-the-book New Jersey cop who brought him down.\n\nBy casting these titans as leads, Scott is able to camouflage many of his flaws.  Washington and Crowe both deliver what for other actors would be career-defining performances, but "Gangster" doesn\'t offer the total package of other crime stories.  It lacks the humor and cinematic artistry of Goodfellas and The Sopranos and fails to grasp the regalness of The Godfather.  The most creative element of the film is the Scorsese-like trailer with the retro sounds of Jay-Z`s  Heart of the City.  Many films would fail when compared to the best of the mob genre, so that does not mean "American Gangster" is without merit.  With two of America\'s finest actors at the top of their game and an irresistable story that brushes up against Vietnam, Ali and Nixon, the lack of creativity on the part of Ridley Scott is all that\'s keeping this from being one of the best films of the decade.', 4], [21482, "What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This story is a bittersweet romance and a touching look at love, a breakup and the in your face emotion of an ex's marriage to one of your friends. The characters are sometimes witty and sometimes sad by their baggage. It is entertaining and a good read.", 4], [212011, 'What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This product is great for someone on the go who wants a laptop/touchscreen combination.  The Chromebook is specifically designed to work with the Google platform (storing all of your data on the google drive is a quick convenient way to make sure you always have your files with you).  I started using the drive a couple of years ago, and have never looked back.  This product helps you to access those files instantaneously and easily.\n\nThe overall design of this product is great because it can function as both a laptop, with a full keyboard (which I love, and really miss on other touch screen devices).  If you are working on anything that you will need to type for this is a must have feature, it also functions as a touch screen tablet instantaneously.  All you have to do is fold the screen over and you immediately have a touchscreen tablet.\n\nThe device is incredibly easy to use, and easy to set up.  If you have a google account set up will link you to all your files within a couple of minutes through the easy set up.  From there you are able to access all your files via the internet quickly.  The great thing about this laptop is that it also has USB and HDMI ports so th

In [43]:
preds_no_summary_no_samples = []
for input in inputs:
    preds_no_summary_no_samples.append(rate_product_review(AIP(input[1],input[0], True, True)))
print(preds_no_summary_no_samples)

no similar users
[('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ("5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z.\nFast Z's where changing into something else than the slow zombies I know off.\nBut I really liked it and read it in one sitting. Because I wanted to know with who Claire\nended! I hope book 2 will come soon......", 1.1465284), ('5 is the score for A great story! I also loved the romance that is in it.\nOverall I really enjoyed it.', 1.1457993)]
No Summary
Final prompt: 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have love to know what went through his mind! But overall the story was well paced the characters where great!, and 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have love to know what went through his mind! But overall the story was well paced the characters where great!, and 5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z. Fast Z's where changing into something else than the slow zombies I know off. But I really liked it and read it in one sitting. Because, and 5 is the score for A great story! I also loved the romance that is in it. Overall I really enjoyed it.. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It was not what I expected but it was a great read! I really really like it.
I liked the characters. And the story was well paced.
no similar users
[("1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.", 2.3062477), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big names: Epson (what a joke) , Xerox (lasted a few months longer), HP (hit or miss). I decided on Canon because I'd never owned one and couldn't bear the thought of throwing my money away to the previously mentioned low-quality printers. The price was reasonable and included an ink cartridge. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge because the ink quality is still vibrant. Invest a few extra dollars for this printer and you won't feel like you bought junk if you purchase another brand.", 1.0146539)]
No Summary
Final prompt: 1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools;, and 2 is the score for i concur with some of the 3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the problem,, and 2 is the score for i concur with some of the 3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the problem,, and 5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.
no similar users
[('5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side during the war.  The story of the Japanese backed Indian National Army (INA) is also presented.  The story is briefly continued after the war up to partition and independence.\n\nThe author was initially a soldier and the description of military operation are very good; particularly the operations in Africa.  There are a large number of good and useful maps.\n\nWas vacillating between 4 and 5 stars for this book; but, the description of military operations convinced me to give it 5 stars.', 1.3445436), ('4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this account.  This is the real strength of this work.\n\nThe author claims that this work is revisionist and that the infantry elements of the German Army were key elements in the attack.  However, this book did not strike me as fundamentally different as the analysis by Liddell Hart; although, there was some difference in emphasis. (Admittedly it has been many years since I read Liddell Hart.\n\nThere are very good maps conveniently grouped at the beginning of the book', 1.3401827), ('4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, not quite sure why.  The book is well researched and easy to read.\nIf you are particularly interested would rate five stars.\n\nThere are some very good sections.  The Battle of Bunker Hill is excellent; the best I have seen.  The attack on Canada is also very good.\n\nThe maps are generally pretty good and useful.', 1.305574), ('5 is the score for This large book (759 pages of text) analyzes the high command  of the Army of the Potomac. It is detailed and contains a lot of information I had not previously seen. The author has strong opinions about the competence of the various generals in the army.  He is very positive about Meade and negative about McClellan.  Think the author tends to see things in black and white.  For instance he is quite negative about O.O. Howard, the Eleventh Corps commander. However, Howard did quite well under Sherman and was even promoted to army command.\n\nThe book contains very good maps.', 1.2846452)]
No Summary
Final prompt: 5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side, and 4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940. There is considerable discussion of the attitudes and actions of the major players in this account. This is the real strength of, and 4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston. Although, I generally like detailed historical accounts did not love this work, not quite sure why., and 5 is the score for This large book (759 pages of text) analyzes the high command of the Army of the Potomac. It is detailed and contains a lot of information I had not previously seen. The author has strong opinions about the competence of. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a good history of the 29th Infantry Division in the Normandy campaign.  It covers the training of the division in the United States and England, the Normandy landings and operations beyond the capture of St. Lo.  During D-Day and the fighting in the bocage, the division suffered very heavy casualties in its infantry battalions.

The book mostly focuses on the battles between the 29th and the German 352nd Infantry.  The discussion on the disposition of the 352nd was interesting and something I had not seen before.

The maps are pretty good and there are a reasonable number
no similar users
[('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "Yoga: Your Home Practice Companion", a more recent book from the same organisation.', 1.0981061), ('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "The Sivananda Companion to Yoga", an older book from the same organisation.', 1.0448), ('5 is the score for I do appreciate the way the author writes. Very clear, easy to follow and seems to read itself to you. Another inspiring book that, along with others from both SRF and the Ananda organizations have helped me better understand and know the Guru. These reflections and reminiscences are very useful to the student.\nI do wish there was not the conflict between the organizations and their followers, because it makes people miss the point, and the teachings get lost in the fray.\nI highly recommend this book.', 1.0186224), ("5 is the score for I teach yoga, and think this is a great little book. A good way to interact with your infant and help him/her relax, while helping you stay aware of what's happening with his body (tension etc).\n\nAs he grows and develops a few more poses are added and adapted to suit.\n\nHe seems to enjoy it most of the time, and at other times is just distracted by any shiny object in the room. But he's a baby.\n\nRecommended for adults to be aware of their baby's growth and limb movement etc too.\n\nI find it a little 'flowery', and my wife finds it written perfectly. Mars and Venus. It is easy to take what I need from either way.\n\nI wish there were a few more pictures/illustrations, and descriptions of distances for divine drops etc, or maybe a youtube demonstration. Still, every baby is different and I guess you adapt it to your situation.", 1.0088533)]
No Summary
Final prompt: 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels, and 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice. A good complement is "The Sivananda Companion to Yoga", an older book from the, and 5 is the score for I do appreciate the way the author writes. Very clear, easy to follow and seems to read itself to you. Another inspiring book that, along with others from both SRF and the Ananda organizations have helped me better understand and, and 5 is the score for I teach yoga, and think this is a great little book. A good way to interact with your infant and help him/her relax, while helping you stay aware of what's happening with his body (tension etc). As he grows and. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a solid book and good reference for a beginner learning about essential oils. I find it to be clear and well organized.
no similar users
[("5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a page turner, I loved the flow, the writing style, the twist and turns, certain parts I read again just because! So it's on to the next ones for me! Great Job Ms. Bankston, keep em coming, I will be reading!!!", 1.5163006), ("5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until the sequel came out because I'm very impatient lol, and this book had me on edge waiting to see Tamia's fate, but I have to wait (sigh) I know somebody better redeem themselves otherwise I might have to jump into this story and smack some people around smh.  GREAT STORY! PLEASE HURRY WITH PART2!", 1.4369773), ('5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, anytime you can feel yourself stepping into the character shoes, it says something about the writer, and Ms. Black does not dissapoint! That Karen though man, somebody should have wrapped her in saran wrap and made her disappear a loooonnnggg time ago lol.  Great writing, great premise, great story flow though Leila made me mad at first as usual lls, this is a must read and then some. Great job Anna, I am a fan for life, seriously!', 1.4026322), ("5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these characters.  I say let the DEAD stay DEAD...okay well the so called dead at least...okay let me stop giving away spoilers.  Great story, great plot, I loved how it flowed and you got a feel for every character, yes, SK did her thing, great job hon!", 1.401446)]
No Summary
Final prompt: 5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a, and 5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until, and 5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa. I loved the writing, anytime you can feel yourself stepping into the character shoes, it says, and 5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I sooooo loved this story, I won't give a synopsis, but I will say this was a great premise, the story line was believable although irritating but that's what made it believable! She made the right choice in the end though I wanted to strangle her throughout the book lol! Especially towards the end smh! But this was a great emotional roller coaster ride that kept me on the edge of my seat, I can't wait for part 2! Great Job Anna! Keep them coming girl because I will continue to read.
no similar users
[("1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through.", 1.3135846), ("2 is the score for I don't understand all of the high ratings for this book. The main character was 53 but acted and talked like a teenager - and not the smartest teenager, either. He was condescending to his sisters and the woman he loved. None of the characters were very mature.\nThe writing - I don't know how much of it was bad writing, and how much of it was really, really bad editing. Someone has no idea how to use a comma.\nDo not recommend.", 1.2970883), ("2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through.", 1.2441182), ("1 is the score for A recently divorced, alcoholic psychiatrist goes on a little retreat to deal with the divorce and dry out, but is followed and held captive by a man with gigantism who wants justice for her ruining his life. I don't know how she ruined his life, and I don't care - I got half way through and closed the book. It's very slow moving, and I think the doctor is kind of stupid.", 1.2318152)]
No Summary
Final prompt: 1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through., and 2 is the score for I don't understand all of the high ratings for this book. The main character was 53 but acted and talked like a teenager - and not the smartest teenager, either. He was condescending to his sisters and the woman he, and 2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through., and 1 is the score for A recently divorced, alcoholic psychiatrist goes on a little retreat to deal with the divorce and dry out, but is followed and held captive by a man with gigantism who wants justice for her ruining his life. I don't know. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I like Dawn French on TV, she really funny, but I'm afraid I don't care for her writing.
This is a story about Silvia, who is in a coma, and the small circle of people in her life who take turns visiting her and hoping she'll wake up.
The punctuation is not good, and unfortunately, the story is not that good, either - I stopped half way through.

RuntimeError: The expanded size of the tensor (787) must match the existing size (514) at non-singleton dimension 1.  Target sizes: [1, 787].  Tensor sizes: [1, 514]

In [44]:
print(len(preds_no_summary_no_samples))

30

In [45]:
print(preds_no_summary_no_samples)

[4, 2, 4, 5, 5, 2, 5, 5, 5, 3, 3, 4, 5, 4, 5, 5, 5, 4, 4, 1, 2, 2, 4, 5, 3, 5, 4, 5, 4, 4]

In [47]:
preds_no_summary_similar = []
for input in inputs[:30]:
    preds_no_summary_similar.append(rate_product_review(AIP(input[1],input[0], True, False)))
print(preds_no_summary_similar)

user id present in csv used for training
[('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ("5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z.\nFast Z's where changing into something else than the slow zombies I know off.\nBut I really liked it and read it in one sitting. Because I wanted to know with who Claire\nended! I hope book 2 will come soon......", 1.1465284), ('5 is the score for A great story! I also loved the romance that is in it.\nOverall I really enjoyed it.', 1.1457993)]
No Summary
Final prompt: 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have love to know what went through his mind! But overall the story was well paced the characters where great!, and 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have love to know what went through his mind! But overall the story was well paced the characters where great!, and 5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z. Fast Z's where changing into something else than the slow zombies I know off. But I really liked it and read it in one sitting. Because, and 5 is the score for A great story! I also loved the romance that is in it. Overall I really enjoyed it.. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It was not what I expected but it was a great read! I really really like it.
I liked the characters. And the story was well paced.
user id present in csv used for training
[("1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.", 2.3062477), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big names: Epson (what a joke) , Xerox (lasted a few months longer), HP (hit or miss). I decided on Canon because I'd never owned one and couldn't bear the thought of throwing my money away to the previously mentioned low-quality printers. The price was reasonable and included an ink cartridge. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge because the ink quality is still vibrant. Invest a few extra dollars for this printer and you won't feel like you bought junk if you purchase another brand.", 1.0146539)]
No Summary
Final prompt: 1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools;, and 2 is the score for i concur with some of the 3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the problem,, and 2 is the score for i concur with some of the 3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the problem,, and 5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.
user id present in csv used for training
[('5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side during the war.  The story of the Japanese backed Indian National Army (INA) is also presented.  The story is briefly continued after the war up to partition and independence.\n\nThe author was initially a soldier and the description of military operation are very good; particularly the operations in Africa.  There are a large number of good and useful maps.\n\nWas vacillating between 4 and 5 stars for this book; but, the description of military operations convinced me to give it 5 stars.', 1.3445436), ('4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this account.  This is the real strength of this work.\n\nThe author claims that this work is revisionist and that the infantry elements of the German Army were key elements in the attack.  However, this book did not strike me as fundamentally different as the analysis by Liddell Hart; although, there was some difference in emphasis. (Admittedly it has been many years since I read Liddell Hart.\n\nThere are very good maps conveniently grouped at the beginning of the book', 1.3401827), ('4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, not quite sure why.  The book is well researched and easy to read.\nIf you are particularly interested would rate five stars.\n\nThere are some very good sections.  The Battle of Bunker Hill is excellent; the best I have seen.  The attack on Canada is also very good.\n\nThe maps are generally pretty good and useful.', 1.305574), ('2 is the score for I was hoping to get some very good insight into the Germans regrouping and stemming the allied onslaught into Germany. Instead, this book is more a very broad stroke of the events from July `44 till December 16th 1944.\nThe pros.\n1)The author does provide some very good information concerning the units and men involved during the battle.\n2) The notes at the end are helpful and informative\nThe cons.\n1) EDITING!  This is the third Stackpole book I\'ve read where the editing is terrible. This is a book of non-fiction and is required to be well edited. Not the case.\n2) The book centers around "Operation Market Garden." If I wanted to read about this battle, I\'d pull out my copy of "A Bridge too Far."\n3) Cohesiveness. Doesn\'t exist, especially in the last chapter. Too many times we are sent back to the collapse of the 7th army in France and the chase to the border.\n4) I felt I was reading a book that was behind on a deadline. Very distracting\n5) The notes at the end, comprise 20% of the book.\nI appreciate the research put into this book, but I do not recommend it for the serious or even novice student. I\'m glad I only paid $3.00 for this version. It will be going back to Half Price Books.', 1.2944567)]
No Summary
Final prompt: 5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side, and 4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940. There is considerable discussion of the attitudes and actions of the major players in this account. This is the real strength of, and 4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston. Although, I generally like detailed historical accounts did not love this work, not quite sure why., and 2 is the score for I was hoping to get some very good insight into the Germans regrouping and stemming the allied onslaught into Germany. Instead, this book is more a very broad stroke of the events from July `44 till December 16th 1944. The. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a good history of the 29th Infantry Division in the Normandy campaign.  It covers the training of the division in the United States and England, the Normandy landings and operations beyond the capture of St. Lo.  During D-Day and the fighting in the bocage, the division suffered very heavy casualties in its infantry battalions.

The book mostly focuses on the battles between the 29th and the German 352nd Infantry.  The discussion on the disposition of the 352nd was interesting and something I had not seen before.

The maps are pretty good and there are a reasonable number
user id present in csv used for training
[('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "Yoga: Your Home Practice Companion", a more recent book from the same organisation.', 1.0981061), ('5 is the score for This book on clove oil gives a great deal of information that was helpful to me and I know would be helpful to many others. Whether you are looking for natural solutions for problems around the home or on your own body, there is a clove oil remedy for it! I love to find natural cures for things rather than using harmful chemicals. This book helped me become more natural in many ways!', 1.0670384), ('5 is the score for I am always trying to find ways to discontinue commercial products in my life and replace them with natural remedies. This book offered a very thorough resource for many different issues and ailments and their corresponding treatments in nature. The book is extremely well organized and easy to read. Whether you want to read the book from front to back or simply skip right to the ailment you are experiencing, this book is a must-have for anyone trying to turn to natural resources.', 1.0453523), ('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "The Sivananda Companion to Yoga", an older book from the same organisation.', 1.0447999)]
No Summary
Final prompt: 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels, and 5 is the score for This book on clove oil gives a great deal of information that was helpful to me and I know would be helpful to many others. Whether you are looking for natural solutions for problems around the home or on your, and 5 is the score for I am always trying to find ways to discontinue commercial products in my life and replace them with natural remedies. This book offered a very thorough resource for many different issues and ailments and their corresponding treatments in nature. The, and 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice. A good complement is "The Sivananda Companion to Yoga", an older book from the. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a solid book and good reference for a beginner learning about essential oils. I find it to be clear and well organized.
user id present in csv used for training
[("5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a page turner, I loved the flow, the writing style, the twist and turns, certain parts I read again just because! So it's on to the next ones for me! Great Job Ms. Bankston, keep em coming, I will be reading!!!", 1.5163006), ("5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until the sequel came out because I'm very impatient lol, and this book had me on edge waiting to see Tamia's fate, but I have to wait (sigh) I know somebody better redeem themselves otherwise I might have to jump into this story and smack some people around smh.  GREAT STORY! PLEASE HURRY WITH PART2!", 1.4369773), ('5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, anytime you can feel yourself stepping into the character shoes, it says something about the writer, and Ms. Black does not dissapoint! That Karen though man, somebody should have wrapped her in saran wrap and made her disappear a loooonnnggg time ago lol.  Great writing, great premise, great story flow though Leila made me mad at first as usual lls, this is a must read and then some. Great job Anna, I am a fan for life, seriously!', 1.4026322), ("5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these characters.  I say let the DEAD stay DEAD...okay well the so called dead at least...okay let me stop giving away spoilers.  Great story, great plot, I loved how it flowed and you got a feel for every character, yes, SK did her thing, great job hon!", 1.401446)]
No Summary
Final prompt: 5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a, and 5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until, and 5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa. I loved the writing, anytime you can feel yourself stepping into the character shoes, it says, and 5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I sooooo loved this story, I won't give a synopsis, but I will say this was a great premise, the story line was believable although irritating but that's what made it believable! She made the right choice in the end though I wanted to strangle her throughout the book lol! Especially towards the end smh! But this was a great emotional roller coaster ride that kept me on the edge of my seat, I can't wait for part 2! Great Job Anna! Keep them coming girl because I will continue to read.
user id present in csv used for training
[("1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through.", 1.3135846), ("2 is the score for I don't understand all of the high ratings for this book. The main character was 53 but acted and talked like a teenager - and not the smartest teenager, either. He was condescending to his sisters and the woman he loved. None of the characters were very mature.\nThe writing - I don't know how much of it was bad writing, and how much of it was really, really bad editing. Someone has no idea how to use a comma.\nDo not recommend.", 1.2970883), ("2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through.", 1.2441182), ("1 is the score for A recently divorced, alcoholic psychiatrist goes on a little retreat to deal with the divorce and dry out, but is followed and held captive by a man with gigantism who wants justice for her ruining his life. I don't know how she ruined his life, and I don't care - I got half way through and closed the book. It's very slow moving, and I think the doctor is kind of stupid.", 1.2318152)]
No Summary

In [55]:
truth_labels = []
for input in inputs[:30]:
    truth_labels.append(input[2])
print(truth_labels)

[5, 1, 4, 4, 5, 2, 5, 5, 5, 3, 3, 5, 5, 3, 5, 5, 5, 4, 4, 5, 1, 3, 5, 4, 1, 5, 4, 5, 4, 5]

In [52]:
preds_summary_similar = []
for input in inputs[:30]:
    preds_summary_similar.append(rate_product_review(AIP(input[1],input[0], False, False)))
print(preds_summary_similar)

user id present in csv used for training
[('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ("5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z.\nFast Z's where changing into something else than the slow zombies I know off.\nBut I really liked it and read it in one sitting. Because I wanted to know with who Claire\nended! I hope book 2 will come soon......", 1.1465284), ('5 is the score for A great story! I also loved the romance that is in it.\nOverall I really enjoyed it.', 1.1457993)]
Final prompt: 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have loved to know what went through his mind! But overall the story was well paced the characters where..., and 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have loved to know what went through his mind! But overall the story was well paced the characters where..., and 5 is the score for But I really liked it and read it in one sitting. Because I wanted to know with who Clairemented! I hope book 2 will come soon. I hope it will come..., and 5 is the score for A great story! I also loved the romance that is in it.Overall I really enjoyed it. I would definitely recommend it. It was a great read! I would buy it again!. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It was not what I expected but it was a great read! I really really like it.
I liked the characters. And the story was well paced.
user id present in csv used for training
[("1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.", 2.3062477), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big names: Epson (what a joke) , Xerox (lasted a few months longer), HP (hit or miss). I decided on Canon because I'd never owned one and couldn't bear the thought of throwing my money away to the previously mentioned low-quality printers. The price was reasonable and included an ink cartridge. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge because the ink quality is still vibrant. Invest a few extra dollars for this printer and you won't feel like you bought junk if you purchase another brand.", 1.0146539)]
Final prompt: 1 is the score for It ran great the few times i've used it but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to..., and 2 is the score for this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the..., and 2 is the score for this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the..., and 5 is the score for You won't feel like you bought junk if you purchase another brand. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.
user id present in csv used for training
[('5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side during the war.  The story of the Japanese backed Indian National Army (INA) is also presented.  The story is briefly continued after the war up to partition and independence.\n\nThe author was initially a soldier and the description of military operation are very good; particularly the operations in Africa.  There are a large number of good and useful maps.\n\nWas vacillating between 4 and 5 stars for this book; but, the description of military operations convinced me to give it 5 stars.', 1.3445436), ('4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this account.  This is the real strength of this work.\n\nThe author claims that this work is revisionist and that the infantry elements of the German Army were key elements in the attack.  However, this book did not strike me as fundamentally different as the analysis by Liddell Hart; although, there was some difference in emphasis. (Admittedly it has been many years since I read Liddell Hart.\n\nThere are very good maps conveniently grouped at the beginning of the book', 1.3401827), ('4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, not quite sure why.  The book is well researched and easy to read.\nIf you are particularly interested would rate five stars.\n\nThere are some very good sections.  The Battle of Bunker Hill is excellent; the best I have seen.  The attack on Canada is also very good.\n\nThe maps are generally pretty good and useful.', 1.305574), ('2 is the score for I was hoping to get some very good insight into the Germans regrouping and stemming the allied onslaught into Germany. Instead, this book is more a very broad stroke of the events from July `44 till December 16th 1944.\nThe pros.\n1)The author does provide some very good information concerning the units and men involved during the battle.\n2) The notes at the end are helpful and informative\nThe cons.\n1) EDITING!  This is the third Stackpole book I\'ve read where the editing is terrible. This is a book of non-fiction and is required to be well edited. Not the case.\n2) The book centers around "Operation Market Garden." If I wanted to read about this battle, I\'d pull out my copy of "A Bridge too Far."\n3) Cohesiveness. Doesn\'t exist, especially in the last chapter. Too many times we are sent back to the collapse of the 7th army in France and the chase to the border.\n4) I felt I was reading a book that was behind on a deadline. Very distracting\n5) The notes at the end, comprise 20% of the book.\nI appreciate the research put into this book, but I do not recommend it for the serious or even novice student. I\'m glad I only paid $3.00 for this version. It will be going back to Half Price Books.', 1.2944567)]
Final prompt: 5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2. 5 million..., and 4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this..., and 4 is the score for Very good historical account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, and 2 is the score for I was hoping to get some very good insight into the Germans regrouping and stemming the allied onslaught into Germany. Instead, this book is more a very broad stroke of the events.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a good history of the 29th Infantry Division in the Normandy campaign.  It covers the training of the division in the United States and England, the Normandy landings and operations beyond the capture of St. Lo.  During D-Day and the fighting in the bocage, the division suffered very heavy casualties in its infantry battalions.

The book mostly focuses on the battles between the 29th and the German 352nd Infantry.  The discussion on the disposition of the 352nd was interesting and something I had not seen before.

The maps are pretty good and there are a reasonable number
user id present in csv used for training
[('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "Yoga: Your Home Practice Companion", a more recent book from the same organisation.', 1.0981061), ('5 is the score for This book on clove oil gives a great deal of information that was helpful to me and I know would be helpful to many others. Whether you are looking for natural solutions for problems around the home or on your own body, there is a clove oil remedy for it! I love to find natural cures for things rather than using harmful chemicals. This book helped me become more natural in many ways!', 1.0670384), ('5 is the score for I am always trying to find ways to discontinue commercial products in my life and replace them with natural remedies. This book offered a very thorough resource for many different issues and ailments and their corresponding treatments in nature. The book is extremely well organized and easy to read. Whether you want to read the book from front to back or simply skip right to the ailment you are experiencing, this book is a must-have for anyone trying to turn to natural resources.', 1.0453523), ('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "The Sivananda Companion to Yoga", an older book from the same organisation.', 1.0447999)]
Final prompt: 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to, and 5 is the score for This book on clove oil gives a great deal of information that was helpful to me and I know would be helpful to many others. Whether you are looking for natural solutions for problems..., and 5 is the score for This book is a must-have for anyone who is trying to turn to natural resources for natural remedies. The book is extremely well organized and easy to read. Whether you want to read the book from, and 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice. A good complement to Yoga".. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a solid book and good reference for a beginner learning about essential oils. I find it to be clear and well organized.
user id present in csv used for training
[("5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a page turner, I loved the flow, the writing style, the twist and turns, certain parts I read again just because! So it's on to the next ones for me! Great Job Ms. Bankston, keep em coming, I will be reading!!!", 1.5163006), ("5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until the sequel came out because I'm very impatient lol, and this book had me on edge waiting to see Tamia's fate, but I have to wait (sigh) I know somebody better redeem themselves otherwise I might have to jump into this story and smack some people around smh.  GREAT STORY! PLEASE HURRY WITH PART2!", 1.4369773), ('5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, anytime you can feel yourself stepping into the character shoes, it says something about the writer, and Ms. Black does not dissapoint! That Karen though man, somebody should have wrapped her in saran wrap and made her disappear a loooonnnggg time ago lol.  Great writing, great premise, great story flow though Leila made me mad at first as usual lls, this is a must read and then some. Great job Anna, I am a fan for life, seriously!', 1.4026322), ("5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these characters.  I say let the DEAD stay DEAD...okay well the so called dead at least...okay let me stop giving away spoilers.  Great story, great plot, I loved how it flowed and you got a feel for every character, yes, SK did her thing, great job hon!", 1.401446)]
Final prompt: 5 is the score for A page turner, a great start to a great series! I can't wait to read the next one! Great Job Ms. Bankston, keep em coming, I will be reading!, and 5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I..., and 5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, and 5 is the score for I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I sooooo loved this story, I won't give a synopsis, but I will say this was a great premise, the story line was believable although irritating but that's what made it believable! She made the right choice in the end though I wanted to strangle her throughout the book lol! Especially towards the end smh! But this was a great emotional roller coaster ride that kept me on the edge of my seat, I can't wait for part 2! Great Job Anna! Keep them coming girl because I will continue to read.
user id present in csv used for training
[("1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through.", 1.3135846), ("2 is the score for I don't understand all of the high ratings for this book. The main character was 53 but acted and talked like a teenager - and not the smartest teenager, either. He was condescending to his sisters and the woman he loved. None of the characters were very mature.\nThe writing - I don't know how much of it was bad writing, and how much of it was really, really bad editing. Someone has no idea how to use a comma.\nDo not recommend.", 1.2970883), ("2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through.", 1.2441182), ("1 is the score for A recently divorced, alcoholic psychiatrist goes on a little retreat to deal with the divorce and dry out, but is followed and held captive by a man with gigantism who wants justice for her ruining his life. I don't know how she ruined his life, and I don't care - I got half way through and closed the book. It's very slow moving, and I think the doctor is kind of stupid.", 1.2318152)]
Final prompt: 1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through. I..., and 2 is the score for Do not recommend this book - bad writing, bad editing, bad acting, and bad writing - not worth the money. Not worth the time or effort to read this book at all., and 2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through. I..., and 1 is the score for Slow moving, and kind of stupid. I got half way through and closed the book - I don't know how she ruined his life, and I think the doctor is kind of.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I like Dawn French on TV, she really funny, but I'm afraid I don't care for her writing.
This is a story about Silvia, who is in a coma, and the small circle of people in her life who take turns visiting her and hoping she'll wake up.
The punctuation is not good, and unfortunately, the story is not that good, either - I stopped half way through.
user id present in csv used for training

In [53]:
preds_summary_no_similar = []
for input in inputs[:30]:
    preds_summary_no_similar.append(rate_product_review(AIP(input[1],input[0], False, True)))
print(preds_summary_no_similar)

no similar users
[('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ('5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would\nhave love to know what went through his mind!\nBut overall the story was well paced the characters where great!', 1.1770658), ("5 is the score for It was not what I expected. There where slow Z (zombies) and fast Z.\nFast Z's where changing into something else than the slow zombies I know off.\nBut I really liked it and read it in one sitting. Because I wanted to know with who Claire\nended! I hope book 2 will come soon......", 1.1465284), ('5 is the score for A great story! I also loved the romance that is in it.\nOverall I really enjoyed it.', 1.1457993)]
Final prompt: 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have loved to know what went through his mind! But overall the story was well paced the characters where..., and 5 is the score for I really enjoyed this one. I only wished that Daniel had a POV would have loved to know what went through his mind! But overall the story was well paced the characters where..., and 5 is the score for But I really liked it and read it in one sitting. Because I wanted to know with who Clairemented! I hope book 2 will come soon. I hope it will come..., and 5 is the score for A great story! I also loved the romance that is in it.Overall I really enjoyed it. I would definitely recommend it. It was a great read! I would buy it again!. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: It was not what I expected but it was a great read! I really really like it.
I liked the characters. And the story was well paced.
no similar users
[("1 is the score for I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.", 2.3062477), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("2 is the score for i concur with some of the  3 star reviews; this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations.  i heartily offer 5 stars for the concept. the problem, and the low rating , is due too the poor quality material used. i cleaned not more than 150' of aluminum gutters only to have the scooper split apart. the diamond-shaped reacher head worked well, but because the neck is made of ABS (plastic) it won't last very long. the only positive thought concerning these tools (after they break) is i can use them as templates to create my own gutter tools made with anything other than ABS (read metal!).", 1.0633566), ("5 is the score for Wow! I bought this printer in 2012! Almost 5 years old. I use it infrequently but that was how I used all of the previous printers and they usually dropped-dead within a few months. I've owned several of the big names: Epson (what a joke) , Xerox (lasted a few months longer), HP (hit or miss). I decided on Canon because I'd never owned one and couldn't bear the thought of throwing my money away to the previously mentioned low-quality printers. The price was reasonable and included an ink cartridge. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge because the ink quality is still vibrant. Invest a few extra dollars for this printer and you won't feel like you bought junk if you purchase another brand.", 1.0146539)]
Final prompt: 1 is the score for It ran great the few times i've used it but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to..., and 2 is the score for this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the..., and 2 is the score for this was a good idea. any tool created to make a precarious and messy task safer and easier has my affirmations. i heartily offer 5 stars for the concept. the..., and 5 is the score for You won't feel like you bought junk if you purchase another brand. I've had no issues while using it and it installed easily to my computer. I haven't replaced the ink cartridge.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I'm really irked with this machine. It ran great the few times i've used it, but now will not start. An internet search shows many others having similar problems. i thought the Husqvarna brand was supposed to make quality tools; up there with Honda and Stihl. Ah-well live and learn.
no similar users
[('5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2.5 million volunteers for service on the Allied side during the war.  The story of the Japanese backed Indian National Army (INA) is also presented.  The story is briefly continued after the war up to partition and independence.\n\nThe author was initially a soldier and the description of military operation are very good; particularly the operations in Africa.  There are a large number of good and useful maps.\n\nWas vacillating between 4 and 5 stars for this book; but, the description of military operations convinced me to give it 5 stars.', 1.3445436), ('4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this account.  This is the real strength of this work.\n\nThe author claims that this work is revisionist and that the infantry elements of the German Army were key elements in the attack.  However, this book did not strike me as fundamentally different as the analysis by Liddell Hart; although, there was some difference in emphasis. (Admittedly it has been many years since I read Liddell Hart.\n\nThere are very good maps conveniently grouped at the beginning of the book', 1.3401827), ('4 is the score for This is a very detailed account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, not quite sure why.  The book is well researched and easy to read.\nIf you are particularly interested would rate five stars.\n\nThere are some very good sections.  The Battle of Bunker Hill is excellent; the best I have seen.  The attack on Canada is also very good.\n\nThe maps are generally pretty good and useful.', 1.305574), ('5 is the score for This large book (759 pages of text) analyzes the high command  of the Army of the Potomac. It is detailed and contains a lot of information I had not previously seen. The author has strong opinions about the competence of the various generals in the army.  He is very positive about Meade and negative about McClellan.  Think the author tends to see things in black and white.  For instance he is quite negative about O.O. Howard, the Eleventh Corps commander. However, Howard did quite well under Sherman and was even promoted to army command.\n\nThe book contains very good maps.', 1.2846452)]
Final prompt: 5 is the score for This is a very good book describing the Indian armed forces during WWII as well as economic, social and political impacts of the war on India. The India military raised about 2. 5 million..., and 4 is the score for This is a good clear account of the German attack on France and the Low Countries in 1940.  There is considerable discussion of the attitudes and actions of the major players in this..., and 4 is the score for Very good historical account of the Revolutionary War from after the Battles of Lexington and Concord to the British evacuation of Boston.  Although, I generally like detailed historical accounts did not love this work, and 5 is the score for Excellent book on the Army of the Potomac. Very good maps, but the author has strong opinions about the competence of the various generals in the army. He is very positive about Meade and. What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a good history of the 29th Infantry Division in the Normandy campaign.  It covers the training of the division in the United States and England, the Normandy landings and operations beyond the capture of St. Lo.  During D-Day and the fighting in the bocage, the division suffered very heavy casualties in its infantry battalions.

The book mostly focuses on the battles between the 29th and the German 352nd Infantry.  The discussion on the disposition of the 352nd was interesting and something I had not seen before.

The maps are pretty good and there are a reasonable number
no similar users
[('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "Yoga: Your Home Practice Companion", a more recent book from the same organisation.', 1.0981061), ('5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice.\n\nA good complement is "The Sivananda Companion to Yoga", an older book from the same organisation.', 1.0448), ('5 is the score for I do appreciate the way the author writes. Very clear, easy to follow and seems to read itself to you. Another inspiring book that, along with others from both SRF and the Ananda organizations have helped me better understand and know the Guru. These reflections and reminiscences are very useful to the student.\nI do wish there was not the conflict between the organizations and their followers, because it makes people miss the point, and the teachings get lost in the fray.\nI highly recommend this book.', 1.0186224), ("5 is the score for I teach yoga, and think this is a great little book. A good way to interact with your infant and help him/her relax, while helping you stay aware of what's happening with his body (tension etc).\n\nAs he grows and develops a few more poses are added and adapted to suit.\n\nHe seems to enjoy it most of the time, and at other times is just distracted by any shiny object in the room. But he's a baby.\n\nRecommended for adults to be aware of their baby's growth and limb movement etc too.\n\nI find it a little 'flowery', and my wife finds it written perfectly. Mars and Venus. It is easy to take what I need from either way.\n\nI wish there were a few more pictures/illustrations, and descriptions of distances for divine drops etc, or maybe a youtube demonstration. Still, every baby is different and I guess you adapt it to your situation.", 1.0088533)]
Final prompt: 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. This book got me started in Yoga some 25 years ago. It seems the same content. I teach Yoga and recommend this to, and 5 is the score for Well written, organised and straight forward. Good photos, diagrams and explanations. I teach Yoga and recommend this to my students. Good for all levels of practice. A good complement to Yoga"., and 5 is the score for Inspirational, clear, easy to follow and useful to the student. I highly recommend this book. I do wish there was not the conflict between the organizations and their followers, and..., and 5 is the score for and think this is a great little book. A good way to interact with your infant and help him/her relax, while helping you stay aware of what's happening with his body.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: This is a solid book and good reference for a beginner learning about essential oils. I find it to be clear and well organized.
no similar users
[("5 is the score for Love, Love, Love, this beginning!!!! Captivating twist, worlds colliding, drama, romance, man what more can you ask for!!! I'm not going to give a synopsis because it's been done in the other reviews already, I will say this is a page turner, I loved the flow, the writing style, the twist and turns, certain parts I read again just because! So it's on to the next ones for me! Great Job Ms. Bankston, keep em coming, I will be reading!!!", 1.5163006), ("5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I wish I had waited to read this until the sequel came out because I'm very impatient lol, and this book had me on edge waiting to see Tamia's fate, but I have to wait (sigh) I know somebody better redeem themselves otherwise I might have to jump into this story and smack some people around smh.  GREAT STORY! PLEASE HURRY WITH PART2!", 1.4369773), ('5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, anytime you can feel yourself stepping into the character shoes, it says something about the writer, and Ms. Black does not dissapoint! That Karen though man, somebody should have wrapped her in saran wrap and made her disappear a loooonnnggg time ago lol.  Great writing, great premise, great story flow though Leila made me mad at first as usual lls, this is a must read and then some. Great job Anna, I am a fan for life, seriously!', 1.4026322), ("5 is the score for I was supposed to leave a review a while ago, thought I did but obviously didn't lol! I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these characters.  I say let the DEAD stay DEAD...okay well the so called dead at least...okay let me stop giving away spoilers.  Great story, great plot, I loved how it flowed and you got a feel for every character, yes, SK did her thing, great job hon!", 1.401446)]
Final prompt: 5 is the score for A page turner, a great start to a great series! I can't wait to read the next one! Great Job Ms. Bankston, keep em coming, I will be reading!, and 5 is the score for This was a great story, nothing like I thought it would be though I must say the two men in this story pissed me off, I can't wait for the sequel! I..., and 5 is the score for WOW! Is about all I can say, Leila and Rashon on their emotional roller coaster, I actually felt bad for the ex with Christa.  I loved the writing, and 5 is the score for I won't give a synopsis I will just say I loved thie pre-story of Eclipse! I'm kind of worried now but I will find out soon what's to happen with these.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I sooooo loved this story, I won't give a synopsis, but I will say this was a great premise, the story line was believable although irritating but that's what made it believable! She made the right choice in the end though I wanted to strangle her throughout the book lol! Especially towards the end smh! But this was a great emotional roller coaster ride that kept me on the edge of my seat, I can't wait for part 2! Great Job Anna! Keep them coming girl because I will continue to read.
no similar users
[("1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through.", 1.3135846), ("2 is the score for I don't understand all of the high ratings for this book. The main character was 53 but acted and talked like a teenager - and not the smartest teenager, either. He was condescending to his sisters and the woman he loved. None of the characters were very mature.\nThe writing - I don't know how much of it was bad writing, and how much of it was really, really bad editing. Someone has no idea how to use a comma.\nDo not recommend.", 1.2970883), ("2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through.", 1.2441182), ("1 is the score for A recently divorced, alcoholic psychiatrist goes on a little retreat to deal with the divorce and dry out, but is followed and held captive by a man with gigantism who wants justice for her ruining his life. I don't know how she ruined his life, and I don't care - I got half way through and closed the book. It's very slow moving, and I think the doctor is kind of stupid.", 1.2318152)]
Final prompt: 1 is the score for I tried this book because I read the author won an award - I don't get it. The story is slow and not well-written. I stopped halfway through. I..., and 2 is the score for Do not recommend this book - bad writing, bad editing, bad acting, and bad writing - not worth the money. Not worth the time or effort to read this book at all., and 2 is the score for The writing itself is good, as it usually is from this author, but I couldn't make sense of the story. I stopped about a third of the way through. I..., and 1 is the score for Slow moving, and kind of stupid. I got half way through and closed the book - I don't know how she ruined his life, and I think the doctor is kind of.... What is the score of the following review on a scale of 1 to 5? just answer with 1, 2, 3, 4, or 5 without further explanation. review: I like Dawn French on TV, she really funny, but I'm afraid I don't care for her writing.
This is a story about Silvia, who is in a coma, and the small circle of people in her life who take turns visiting her and hoping she'll wake up.
The punctuation is not good, and unfortunately, the story is not that good, either - I stopped half way through.
no similar users

In [56]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

MAE_no_similar_no_summary = mean_absolute_error(y_true = truth_labels, y_pred = preds_no_summary_no_samples)
RMSE_no_similar_no_summary = mean_squared_error(y_true = truth_labels , y_pred = preds_no_summary_no_samples, squared = False)

MAE_similar_no_summary = mean_absolute_error(y_true = truth_labels, y_pred = preds_no_summary_similar)
RMSE_similar_no_summary = mean_squared_error(y_true = truth_labels , y_pred = preds_no_summary_similar, squared = False)

MAE_no_similar_summary = mean_absolute_error(y_true = truth_labels, y_pred = preds_summary_no_similar)
RMSE_no_similar_summary = mean_squared_error(y_true = truth_labels, y_pred = preds_summary_no_similar, squared = False)

MAE_similar_summary = mean_absolute_error(y_true = truth_labels, y_pred = preds_summary_similar)
RMSE_similar_summary = mean_squared_error(y_true = truth_labels , y_pred = preds_summary_similar, squared = False)

print('MAE_no_similar_no_summary', MAE_no_similar_no_summary)
print('RMSE_no_similar_no_summary',RMSE_no_similar_no_summary)
print('MAE_similar_no_summary',MAE_similar_no_summary)
print('RMSE_similar_no_summary',RMSE_similar_no_summary)
print('MAE_no_similar_summary',MAE_no_similar_summary)
print('RMSE_no_similar_summary',RMSE_no_similar_summary)
print('MAE_similar_summary',MAE_similar_summary)
print('RMSE_similar_summary',RMSE_similar_summary)

MAE_no_similar_no_summary 0.5333333333333333
RMSE_no_similar_no_summary 1.0
MAE_similar_no_summary 0.6333333333333333
RMSE_similar_no_summary 1.0801234497346435
MAE_no_similar_summary 0.43333333333333335
RMSE_no_similar_summary 0.7071067811865476
MAE_similar_summary 0.6333333333333333
RMSE_similar_summary 0.9128709291752769

In [ ]:
!unzip "./final_model.zip" -d "./model_loc"

In [ ]:
from transformers import T5Tokenizer, DataCollatorForSeq2Seq
from transformers import T5ForConditionalGeneration, Seq2SeqTrainingArguments, Seq2SeqTrainer

last_checkpoint = "./model_loc/model_path"

finetuned_model = T5ForConditionalGeneration.from_pretrained(last_checkpoint)
tokenizer = T5Tokenizer.from_pretrained(last_checkpoint)

In [ ]:
def generate_paraphrase(llm_input):
  tokenized_input = tokenizer(llm_input, return_tensors="pt")
  outputs = finetuned_model.generate(**tokenized_input,max_length = 500)
  answer = tokenizer.decode(outputs[0])
  print("printing answer", type(answer))
  return answer

In [ ]:
# print(len(inputs))
preds_with_summary_with_samples = []
preds_without_summary_without_samples = []
preds_with_summary_without_samples = []
preds_without_summary_with_samples = []

# print(inputs)
ground_truth = []
for input in inputs:
    ground_truth.append(input[2])
    aip_output = AIP(input[1],input[0], True, True)
    print("printing aip output", aip_output)
    preds_without_summary_without_samples.append(generate_paraphrase(aip_output))
    print("printing 1 ",preds_without_summary_without_samples)
    preds_with_summary_with_samples.append(generate_paraphrase(AIP(input[1],input[0], False, False)))
    print("printing 2 ",preds_with_summary_with_samples)
    preds_without_summary_with_samples.append(generate_paraphrase(AIP(input[1],input[0], True, False)))
    print("printing 3 ",preds_without_summary_with_samples)
    preds_with_summary_without_samples.append(generate_paraphrase(AIP(input[1],input[0], False, True)))
    print("printing 4 ",preds_with_summary_without_samples)




# print(preds_with_summary_with_samples)

In [ ]:
from nltk.translate.bleu_score import sentence_bleu, SmoothingFunction
import numpy as np

def calculate_rouge(reference_array, candidate_array):
    # Tokenize reference sentences
    reference_tokens = [sentence.split() for sentence in reference_array]
    
    # Calculate ROUGE-1 (unigram overlap) score
    rouge1_scores = [sentence_bleu(reference_tokens, candidate.split(), weights=(1, 0, 0, 0), smoothing_function=SmoothingFunction().method1) for candidate in candidate_array]

    # Calculate ROUGE-L (longest common subsequence) score
    rougeL_scores = [sentence_bleu(reference_tokens, candidate.split(), weights=(0, 0, 1, 0), smoothing_function=SmoothingFunction().method1) for candidate in candidate_array]

    return rouge1_scores, rougeL_scores

# Example arrays of sentences and ground truth
df = pd.read_csv("your_output_file_transposed.csv")
# print(df.head())

# Assuming your columns are named "ground_truth", "prediction_1", "prediction_2", "prediction_3"
preds_with_summary_with_samples = df["pred1"].tolist()
preds_without_summary_without_samples = df["pred2"].tolist()
preds_with_summary_without_samples = df["pred3"].tolist()
preds_without_summary_with_samples = df["pred4"].tolist()
ground_truth = df["truth"].tolist()

# print(len(ground_truth))

# Calculate ROUGE scores for each array of sentences
rouge1_scores_1, rougeL_scores_1 = calculate_rouge(ground_truth, preds_with_summary_with_samples)
rouge1_scores_2, rougeL_scores_2 = calculate_rouge(ground_truth, preds_without_summary_without_samples)
rouge1_scores_3, rougeL_scores_3 = calculate_rouge(ground_truth, preds_with_summary_without_samples)
rouge1_scores_4, rougeL_scores_4 = calculate_rouge(ground_truth, preds_without_summary_with_samples)

# Print the scores
print('ROUGE-1 Scores Array 1:', np.mean(rouge1_scores_1))
print('ROUGE-L Scores Array 1:', np.mean(rougeL_scores_1))
print('ROUGE-1 Scores Array 2:', np.mean(rouge1_scores_2))
print('ROUGE-L Scores Array 2:', np.mean(rougeL_scores_2))
print('ROUGE-1 Scores Array 3:', np.mean(rouge1_scores_3))
print('ROUGE-L Scores Array 3:', np.mean(rougeL_scores_3))
print('ROUGE-1 Scores Array 4:', np.mean(rouge1_scores_4))
print('ROUGE-L Scores Array 4:', np.mean(rougeL_scores_4))